@page
@model ConfigureDatabase.Pages.IndexModel
@{
	ViewData["Title"] = "Configure App";
}
<h1>Welcome to DynamicDatabaseBackup</h1>
<div>
	<br />
	<h4 >Here you can configure all the settings for using this software 	</h4>

	<h5> Please follow the instructions to configure correctly</h5>

	<ol>
		<li>Complete the form in <a asp-page="\AddConection\Index">Configure Conection</a> to register all configurations to connect to your databases</li>
		<li>Add the names of the Databases that you want to configure for Backups</li>
	</ol>

</div>
