@page
@model ConfigureDatabase.Pages.IndexModel
@{
	ViewData["Title"] = "Configure App";
}
<h1>Welcome to DynamicDatabaseBackup</h1>
<div>
	<br /><br />
	<h4 >Here you can configure all the settings for using this software 	</h4>

	<h5> Please follow the instructions to configure correctly</h5>

	<ol>
		<li>Complete the form in <a asp-page="\AddConection\Index">Configure Conection</a> to register all your configurations to connect to your databases</li>
		<li>Add the names of the Databases that you want to configure for Backups and the frecuency in the <a asp-action="\AddDatabase\Index">Add Database Form</a></li>
		
	</ol>
	<h5>Steps for Windows</h5>
	<ol>
		<li>In the Task Scheduler program the DatabaseBackups.exe that it's located on your instalation directory under the folder </li>
	</ol>
</div>
